version: 2
updates:
  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: "semiannually"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
